*{
    padding: 0;
    margin: 0;
}

.section{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 165px;
}

/* defaul css end */

/* hader css start */

header{
    background-color: #424141;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 25px 0px;
    align-items: center;
}

.header-right{
    align-items: center;
}

.nav{
    list-style: none;
}

.menu-item{
    margin-left: 20px;
    display: inline;
    font-size: 17px;
}

.logo-image{
    width: 100px;
}

/* hader css end */

/* banner css start */

.banner-section{
    height: 100vh;
    background-image: url(./images/background.png),linear-gradient(45deg,rgb(5, 5, 5),#2e2e2e);
    color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 165px;
}

.banner-title{
    font-size: 54px;
    font-weight: bold;
}

.description{
    font-size: 18px;
    margin-top: 15px;
}

.accent-button{
    margin-top: 20px;
    padding: 13px 20px;
    outline: none;
    background-color: red;
    border-radius: 3px;
    border: none;
    color: white;
}

.banner-image{
    width: 300px;
}

/* banner css end */

/* about css start */

.about-section{
    padding: 25px 0px;
}

.about-title{
    font-size: 54px;
    font-weight: bold;
    text-align: center !important;
}

.abt-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-right{
    text-align: left !important;
}

/* about css end */

/* services section start */

.service-title{
    font-size: 54px;
    font-weight: bold;
    text-align: center !important;
    color: #ffffff;
}

.service-section{
    background-image: url(./images/background.png),linear-gradient(45deg,rgb(5, 5, 5), #2e2e2e);
    color: white;
    padding: 50px;
    flex-wrap: wrap;

}



/* services section end */